*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: white;
    --cor-secundaria: #004aad;
    --cor-destaque: #ff914d;
    --cor-azul-claro: #4e8cff;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

/* HEADER */
/* HEADER */
/* HEADER */

#header {
    background-color: var(--cor-secundaria);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.header-link{
    color: white;
}

.header-link:hover{
    transition: 1s;
    color: var(--cor-destaque);
    transform: scale(1.01);
}

.header-logo{
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
}

.header-logo:hover{
    transform: scale(1.01);
}

/* MAIN */
/* MAIN */
/* MAIN */

section{
    min-height: 100vh;    
    scroll-margin-top: 160px;
}

#historia{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.historia-container{
    display: flex;
    align-items: center;
    gap: 6em;
    padding: 12px;
}

.historia-imagem{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.historia-titulo{
    color: var(--cor-destaque);
    font-size: 3em;
}

.historia-icon{
    color: var(--cor-azul-claro);
    font-size: 3em;
}

.historia-container-escolha{
    background-color: rgba(212, 241, 255, 0.342);
    padding: 12px;
}

.historia-container-titulo{
    color: #344253;
    margin-bottom: 1em;
}

.historia-container-titulo-strong{
    color: var(--cor-azul-claro);
}

.historia-card-item{
    background-color: rgb(254, 255, 255);
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 8px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.historia-card-item:hover{
    transition: 800ms;
    transform: scale(1.01);
    cursor: pointer;
}

.historia-card-icon{
    font-size: 1em;
    color: var(--cor-azul-claro);
}

.historia-card-titulo{
    font-size: 1em;
    color: var(--cor-azul-claro);
}
.historia-card-sabermais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.historia-botao-sabermais{
    background-color: var(--cor-secundaria);
    border-radius: 26px;
    padding: 18px;
    width: 200px;
    text-decoration: none;
}

.historia-botao-sabermais:hover {
    transition: 800ms;
    transform: scale(1.05);
    cursor: pointer;
}

.historia-botao-sabermais:hover .historia-botao-sabermais-texto{
    color: var(--cor-destaque);
}

.historia-botao-sabermais-texto{
    color: white;
    text-decoration: none;
}

.imagem-perfil{
    border-radius: 10%;
    width: 10%;
    border: 4px solid var(--cor-secundaria);
}

.titulo-sobre{
    background-color: var(--cor-secundaria);
    color: white;
    border-radius: 8px;
    padding: 6px;
}

.topico-sobre, .topico-contato, .topico-contato-whatsapp{
    display: flex;
    gap: 0.2em;
    width: 200px;
    text-decoration: none;
    cursor: pointer;
}

.topico-contato{
    background-color: var(--cor-secundaria);
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.topico-contato-whatsapp{
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.topico-contato-whatsapp-p{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 0.2em;
    border-radius: 8px;
    background-color: var(--cor-secundaria);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.barrinha{
    width: 4px;
    height: 20px;
    background-color: var(--cor-secundaria);
    margin-top: 0.2em;
}

.card-servicos{
    background-color: rgba(0, 40, 145, 0.12);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-servicos:hover{
    border: 2px solid  var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    transform: scale(1.01);
    transition: 500ms;
}

.img-card{
    text-align: center;
    font-size: 10em;
    color: var(--cor-secundaria);
}

.img-card:hover{
    color: white;
}

.titulo-card-servicos{
    background-color: var(--cor-secundaria);
    color: white;
    margin: 0;
    padding: 4px;
    border-radius: 0 0 8px 8px;
    text-align: center;
    width: 100%;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer{
    width: 100%;
    background-color: var(--cor-secundaria);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

footer p{
    margin: 0;
}

/* RESPONSIVIDADE */
/* RESPONSIVIDADE */
/* RESPONSIVIDADE */

@media (max-width: 480px) {
    .historia-container{
        flex-direction: column;
    }
}