@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #222222;
    --cor-destaque: #ff914d;
    --cor-secundaria: #0D6EFC;
    --cor-azul-claro: #4e8cff;
    --cor-azul-clarinho: #d7d7d779;
    --cor-card-servico: #2393BB;
    --cor-cinza: #344253;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
}

.whatsApp {
    background-color: #25D366;
    color: #ffffff;
    border: transparent;
    border-radius: 100%;
    font-size: 1.5em;
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 10000;
}

.whatsApp:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border: 2px solid #25D366;
    border-radius: 12px;
    color: #25D366;
    background-color: #ffffff;
}

.whatsApp-link {
    text-decoration: none;
    color: #ffffff;
}

.whatsApp:hover .whatsApp-link {
    color: #25D366;
}

.voltarTopo {
    background-color: #f8f8f8;
    color: var(--cor-destaque);
    border: 2px solid;
    border-radius: 100%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}

.voltarTopo:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border-radius: 12px;
    color: #ffffff;
    background-color: var(--cor-destaque);
    border: transparent;
}

.voltarTopo.scrolled {
    display: block;
}

.whatsApp.scrolled {
    display: block;
}

p {
    font-size: 1.2em;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
    top: 0;
    transition: background-color 0.3s, box-shadow 0.8s, opacity 0.8s;
}

.header.scrolled {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    background-color: var(--background);
}

.header-logo {
    height: auto;
    width: 130px;
    margin: 0;
    padding: 0;
}

.header-logo:hover {
    transform: scale(1.01);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header-ul {
    color: var(--cor-secundaria);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
}

.header-links {
    display: flex;
    gap: 2em;
}

.header-link-icon {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.header-link-icon:hover {
    transition: 500ms;
    transform: rotate(360deg);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%23004aad" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.header-link {
    color: #ffffff;
    text-decoration: none;
    padding-block: 12px;
}

.header-link.scrolled {
    color: var(--cor-secundaria);
}

.header-link:hover {
    transition: 1s;
    transform: scale(1.01);
    color: var(--cor-destaque);
    cursor: pointer;
}

.header-hamburguer {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 101;
}

.fas {
    font-size: 2em;
    color: #ffffff;
}

.fas.scrolled {
    color: var(--cor-secundaria);
}

/* MAIN */
/* MAIN */
/* MAIN */

section {
    min-height: 100vh;
    background-color: var(--background);
}

/* PRINCIPAL */
/* PRINCIPAL */
/* PRINCIPAL */

.iconHeader {
    position: absolute;
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.iconHeader:hover {
    border: 3px solid var(--cor-azul-claro);
    border-radius: 12px;
}

.iconHeader1 {
    left: 100px;
    top: 150px;
    animation: flutuando01 3s ease;
    animation-iteration-count: infinite;
}

.iconHeader2 {
    left: 100px;
    top: 300px;
    animation: flutuando02 3s ease;
    animation-iteration-count: infinite;
}

.iconHeader3 {
    left: 100px;
    top: 450px;
    animation: flutuando01 3s ease;
    animation-iteration-count: infinite;
}

.iconHeader4 {
    right: 100px;
    top: 150px;
    animation: flutuando03 3s ease;
    animation-iteration-count: infinite;
}

.iconHeader5 {
    right: 100px;
    top: 300px;
    animation: flutuando04 3s ease;
    animation-iteration-count: infinite;
}

.iconHeader6 {
    right: 100px;
    top: 450px;
    animation: flutuando03 3s ease;
    animation-iteration-count: infinite;
}

@keyframes flutuando01 {
    0% {
        transform: translateY(0px) rotate(15deg);
    }

    50% {
        transform: translateY(-20px) rotate(-5deg);
    }

    100% {
        transform: translateY(0px) rotate(15deg);
    }
}

@keyframes flutuando02 {
    0% {
        transform: translateY(0px) rotate(-15deg);
    }

    50% {
        transform: translateY(-20px) rotate(5deg);
    }

    100% {
        transform: translateY(0px) rotate(-15deg);
    }
}

@keyframes flutuando03 {
    0% {
        transform: translateY(0px) rotate(15deg);
    }

    50% {
        transform: translateY(20px) rotate(-5deg);
    }

    100% {
        transform: translateY(0px) rotate(15deg);
    }
}

@keyframes flutuando04 {
    0% {
        transform: translateY(0px) rotate(-15deg);
    }

    50% {
        transform: translateY(20px) rotate(5deg);
    }

    100% {
        transform: translateY(0px) rotate(-15deg);
    }
}

.principal-container-titulo {
    background-image: url(./../assets/fundo-hero-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 98px 98px;
    margin-bottom: 2em;
}

.principal-titulo {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    width: 800px;
    color: #ffffff;
}

.principal-paragrafo {
    color: #ffffff;
    width: 800px;
    font-size: 1.5em;
    font-weight: 500;
    word-spacing: 0.1em;
}

.principal-paragrafo-destaque {
    margin: 0 0.2em;
}

.principal-titulo-strong {
    color: #ff914d;
}

.principal-paragrafo-icon {
    font-size: 0.8em;
    margin: 0 0.2em;
}

.principal-container-sabermais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.principal-container-sabermais__botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50%;
}

.principal-sabermais {
    background-color: transparent;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.3em;
    padding: 0.5em;
    width: 100%;
    border: 3px solid var(--cor-secundaria);
    box-shadow: 0 0 15px 1px var(--cor-secundaria);
}

.principal-sabermais-link {
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.principal-sabermais2 {
    background-color: var(--cor-destaque);
    border: 3px solid var(--cor-destaque);
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.3em;
    padding: 0.5em;
    width: 100%;
    box-shadow: 0 0 15px 1px var(--cor-destaque);
}

.principal-sabermais:hover {
    transition: 1s;
    transform: scale(1.01);
    background-color: var(--cor-secundaria);
}

.principal-sabermais2:hover {
    transition: 1s;
    transform: scale(1.01);
    background-color: transparent;
}

/* HISTORIA */
/* HISTORIA */
/* HISTORIA */

#historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 0;
}

.historia-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 100%;
}

.historia-subcontainer-cima {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 0 2em;
}

.historia-subcontainer-cima__card {
    background-color: #2C2C2C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 250px;
    max-height: 250px;
}

.historia-subcontainer-cima__card h2 {
    font-size: 5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px var(--cor-secundaria);
}

.historia-subcontainer-cima__card p {
    font-size: 1.5em;
    text-align: center;
}

.historia-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-grow: 1;
    padding: 2em;
}

.historia-titulo {
    color: var(--cor-secundaria);
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.historia-paragrafo {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

#lottie-animation {
    width: 500px;
    height: 500px;
}

.historia-subcontainer-baixo {
    overflow: hidden;
    width: 100%;
}

.historia-subcontainer-baixo__carrossel {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.carrossel-item {
    position: relative;
    min-width: 300px;
    margin: 0 1rem;
    overflow: hidden;
    border-radius: 12px;
}

.carrossel-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.carrossel-item:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    font-size: 1.2rem;
    font-weight: bold;
}

.carrossel-item:hover .overlay {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* TIPOS DE SITE */
/* TIPOS DE SITE */
/* TIPOS DE SITE */

#tipos {
    background: linear-gradient(90deg, #0D6EFC 0%, #001A3F 100%);
    width: 100%;
}

.tipos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 6em 0;
}

.tipos-titulo {
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 1em;
}

.container-tipos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    gap: 2em;
    width: 100%;
}

.container-tipo {
    background-color: #2C2C2C;
    border-radius: 24px;
    min-width: 40%;
    max-width: 40%;
    min-height: 360px;
    max-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}

.container-tipo-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 0 0 0.5em;
    border-left: 4px solid var(--cor-secundaria);
}

.container-tipo-titulo {
    color: var(--cor-secundaria);
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.container-tipo-texto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 0 0 0.5em;
    border-left: 4px solid var(--cor-destaque);
}

.container-tipo-titulo2 {
    color: var(--cor-destaque);
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.container-tipo-texto p {
    color: #ffffff;
}

.container-tipo-texto2 p {
    color: #ffffff;
}

.container-tipo-botao {
    background-color: #222222;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.3em;
}

.container-tipo-botao-link {
    text-decoration: none;
    background-color: transparent;
    border: none;
    gap: 0.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    font-weight: bold;
}

.container-tipo-botao-link-texto {
    color: #ffffff;
}

.container-tipo-botao-link {
    color: var(--cor-secundaria);
    text-decoration: none;
    background-color: transparent;
    border: none;
    gap: 0.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
}

.container-tipo-botao:hover {
    transition: 600ms;
    transform: scale(1.01);
    background-color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.container-tipo-botao:hover {
    background-color: transparent;
}

/* SERVICOS */
/* SERVICOS */
/* SERVICOS */

#servicos {
    background-color: var(--cor-secundaria);
    width: 100%;
    padding-bottom: 1em;
}

.servicos-titulo {
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-top: 2em;
}

.servicos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 5em;
    background-color: #fff;
    padding: 54px 34px 0px 34px;
    border-radius: 24px;
}

.owl-nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-top: 2em;
    background-color: white;
}


.owl-prev span,
.owl-next span {
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 40px;
    padding: 5px 10px 10px 10px;
    border-radius: 8px;
}

.owl-prev span:hover,
.owl-next span:hover {
    transition: 0.3s;
    transform: scale(1.01);
    background-color: transparent;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-item img {
    display: block;
    width: 50%;
}

.img-servicos {
    padding: 0;
    margin: 0;
}

.img-servicos:hover {
    transition: 1s;
    transform: scale(1.01);
}

/* CONTATO */
/* CONTATO */
/* CONTATO */
.contato-titulo {
    color: #ffffff;
    padding-top: 2em;
    text-align: center;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.contato-titulo span {
    color: var(--cor-destaque);
}

.contato-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 3em 2em;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 700px;
    max-width: 700px;
}

.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-header {
    border: none;
}

.accordion-button {
    background-color: #2C2C2C;
    color: #ffffff;
    border: none;
    font-size: 0.7em;
    font-weight: bold;
}

.accordion-button:hover,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: #2C2C2C;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../assets/arrow-down-sign-to-navigate.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../assets/arrow-down-sign-to-navigate.png);
}

.accordion-body {
    color: #ffffff;
    border-radius: 0 0 12px 12px;
    border-left: 3px solid var(--cor-secundaria);
    border-right: 3px solid var(--cor-secundaria);
    border-bottom: 3px solid var(--cor-secundaria);
}

.contato-opcoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 3em;
}

.contato-redes,
.contato-frase {
    width: 90%;
    background-color: #2C2C2C;
    padding: 12px;
    border-radius: 24px;
}

.contato-redes {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 2em;
}

.contato-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.icon-contato {
    background-color: #2C2C2C;
    color: var(--cor-secundaria);
    font-size: 1.5em;
    border-radius: 12px;
    padding: 0.3em 0.5em;
}

.p-contato {
    min-width: 300px;
    max-width: 300px;
    background-color: #2C2C2C;
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    font-size: 1.5em;
    padding: 0.3em 0.5em;
    margin: 0;
}

.a-contato {
    background-color: #2C2C2C;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.2em 0.5em;
    border-radius: 12px;
    font-size: 1.5em;
    cursor: pointer;
    border: 3px solid var(--cor-secundaria);
    box-shadow: 0 0 8px 1px var(--cor-secundaria);
}

.a-contato:hover,
.a-contato:focus {
    transition: 1s;
    transform: scale(1.01);
    background-color: var(--cor-secundaria);
}

.contato-frase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-frase-titulo {
    color: var(--cor-secundaria);
    font-size: 2em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contato-frase-container-img {
    text-align: center;
    width: 400px;
    color: var(--cor-cinza);
}

.contato-frase-img {
    width: 100%;
}

.contato-frase-container-img:hover .contato-frase-img-frase {
    opacity: 1;
}

.contato-frase-img-frase {
    transition: 2s;
    background-color: rgb(255, 0, 0);
    border-radius: 12px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: auto;
    opacity: 0;
}

.contato-frase-paragrafo {
    color: #ffffff;
    margin: 0;
    font-size: 0.8em;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    width: 100%;
    background-color: var(--cor-secundaria);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: auto;
}

footer p {
    margin: 0;
}

/* RESPONSIVIDADE */
/* RESPONSIVIDADE */
/* RESPONSIVIDADE */

@media (max-width: 1024px) {
    .iconHeader1 {
        left: 20px;
    }

    .iconHeader2 {
        left: 20px;
    }

    .iconHeader3 {
        left: 20px;
    }

    .iconHeader4 {
        right: 20px;
    }

    .iconHeader5 {
        right: 20px;
    }

    .iconHeader6 {
        right: 20px;
    }

    .principal-container-sabermais__botoes {
        width: 70%;
    }

    /* HISTORIA */
    .historia-subcontainer-cima__card {
        width: 40%;
    }

    .carrossel-item img {
        min-height: 200px;
        max-height: 200px;
    }

    /* TIPOS */
    .container-tipo {
        min-width: 70%;
        max-width: 70%;
        min-height: 360px;
        max-height: 360px;
    }

    /* CONTATO */
    .contato-container {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .contato-opcoes {

        align-items: center;
    }
}

@media (max-width: 980px) {

    /* HEADER */
    .header-hamburguer {
        display: block;
        transition: 1s;
    }

    .header-ul {
        background-color: var(--background) !important;
        position: fixed;
        transition: 1s ease-out;
        transform: translateX(140%);
        background-color: white;
        border-radius: 0px 0px 4px 4px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 60px;
        gap: 5em;
        padding: 12px;
        pointer-events: none;
    }

    .header-nav.active .header-ul {
        pointer-events: all;
        transform: translateX(0);
    }

    .header-link {
        font-size: 2em;
    }

    .header-link.active .header-ul {
        display: none;
    }

    .header-link-icons {
        display: flex;
        gap: 1em;
    }

    .header-link-icon {
        width: 48px;
    }

    /* PRINCIPAL */

    .iconHeader1 {
        top: 150px;
        left: 40px;
    }

    .iconHeader2 {
        top: 150px;
        left: 340px;
    }

    .iconHeader3 {
        top: 150px;
        left: 640px;
    }

    .iconHeader4 {
        top: 550px;
        left: 40px;
    }

    .iconHeader5 {
        top: 550px;
        left: 340px;
    }

    .iconHeader6 {
        top: 550px;
        left: 640px;
    }

    .principal-container-titulo {
        height: 800px;
        margin-bottom: 1em;
    }

    .principal-titulo {
        font-size: 2em;
        width: 700px;
    }

    .principal-paragrafo {
        width: 700px;
    }

    .principal-container-sabermais__botoes {
        width: 90%;
    }

    /* HISTORIA */

    .historia-subcontainer {
        flex-direction: column;
    }

    .historia-paragrafo {
        width: 100%;
    }

    #lottie-animation {
        width: 350px;
        height: 400px;
    }

    /* ESCOLHA */
    .historia-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .col-md-4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .historia-card {
        width: 500px !important;
    }

    .historia-card-item {
        width: 500px;
    }

    .historia-card-botao-contato {
        width: 100%;
    }

    .historia-card-paragrafo {
        padding: 2px;
    }

    /* TIPOS*/
    .container-tipo {
        min-width: 80%;
        max-width: 80%;
        min-height: 360px;
        max-height: 360px;
    }

    .container-tipo-img {
        width: 300px;
        height: 300px;
    }

    .container-tipo-button {
        width: 500px;
    }

    /* SERVICOS */

    .servicos-container {
        padding: 54px 64px 0px 64px;
    }

    .owl-carousel .owl-item img {
        width: 70%;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 1em;
    }

    /* HEADER */

    /* PRINCIPAL */
    .iconHeader {
        height: 30px;
        width: 30px;
    }

    .iconHeader1 {
        top: 450px;
        left: 50px;
    }

    .iconHeader2 {
        top: 450px;
        left: 100px;
    }

    .iconHeader3 {
        top: 450px;
        left: 150px;
    }

    .iconHeader4 {
        top: 450px;
        left: 200px;
        animation: flutuando01 3s ease;
        animation-iteration-count: infinite;
    }

    .iconHeader5 {
        top: 450px;
        left: 250px;
        animation: flutuando02 3s ease;
        animation-iteration-count: infinite;
    }

    .iconHeader6 {
        top: 450px;
        left: 300px;
        animation: flutuando01 3s ease;
        animation-iteration-count: infinite;
    }

    .principal-container-titulo {
        height: 550px;
        border-radius: 0px 0px 49px 49px;
    }

    .principal-titulo {
        width: 90%;
        font-size: 1.8em;
    }

    .principal-paragrafo {
        width: 90%;
        font-size: 1.3em;
    }

    .principal-container-sabermais__botoes {
        width: 80%;
        flex-direction: column;
    }

    .principal-sabermais,
    .principal-sabermais2 {
        font-size: 1.2em;
    }

    /* HISTORIA */
    .historia-container {
        flex-direction: column;
        padding-top: 0;
    }

    .historia-subcontainer-cima__card {
        width: 90%;
    }

    .img-historia {
        display: none;
    }

    .historia-titulo {
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    .historia-topicos-card {
        width: 300px;
    }

    .carrossel-item img {
        min-height: 150px;
        max-height: 150px;
    }

    /* ESCOLHAS */

    .historia-card-botao-contato {
        width: 100%;
    }

    /* TIPOS*/
    .container-tipo {
        min-width: 100%;
        max-width: 100%;
    }

    .container-tipo-titulo,
    .container-tipo-titulo2 {
        font-size: 1.5em;
    }

    .container-tipo-button {
        width: 300px;
        font-size: 1.2em;
    }

    /* SERVICOS */
    .servicos-container {
        padding: 1em 0 0 0;
    }

    .servicos-titulo {
        font-size: 2em;
    }

    .owl-carousel .owl-item img {
        width: 80%;
    }

    /* CONTATO */
    .contato-titulo {
        font-size: 2em;
    }

    .accordion {
        min-width: 350px;
        max-width: 350px;
    }

    .topico-contato {
        width: 100%;
    }

    .contato-frase-container-img {
        text-align: center;
        width: 300px;
    }

    .contato-frase-img-frase {
        width: 80%;
    }

    .contato-frase-img {
        width: 100%;
    }

    .contato-links {
        flex-direction: column;
    }

    .icon-contato {
        min-width: 300px;
        max-width: 300px;
        text-align: center;
    }

    .p-contato {
        min-width: 300px;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .a-contato {
        min-width: 300px;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}