@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/./assets/fonts/bubbleboddyneue-regular\ trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: white;
    --cor-destaque: #ff914d;
    --cor-secundaria: #0D6EFC;
    --cor-azul-claro: #4e8cff;
    --cor-azul-clarinho: #d7d7d779;
    --cor-card-servico: #2393BB;
    --cor-cinza: #344253;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.voltarTopo{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 0px 2px;
    color: var(--cor-secundaria);
    font-size: 2em;
    z-index: 10000;
}

.voltarTopo:hover{
    transition: 500ms;
    transform: scale(1.02);
    color: #14427e;
}

.voltarTopo.scrolled {
    display: block;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
    top: 0;
    transition: background-color 0.3s, box-shadow 0.8s, opacity 0.8s;
}

.header.scrolled {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    background-color: rgb(255, 255, 255);
}

.header-logo {
    height: auto;
    width: 130px;
    margin: 0;
    padding: 0;
}

.header-logo:hover {
    transform: scale(1.01);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header-ul {
    color: var(--cor-secundaria);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
}

.header-links {
    display: flex;
    gap: 2em;
}

.header-link-icon {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.header-link-icon:hover {
    transition: 500ms;
    transform: scale(1.01);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%23004aad" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.header-link {
    color: var(--cor-secundaria);
    text-decoration: none;
    padding-block: 12px;
}

.header-link:hover {
    transition: 1s;
    transform: scale(1.01);
    color: var(--cor-destaque);
    cursor: pointer;
}

.header-hamburguer {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 101;
}

.fas {
    font-size: 2em;
    color: var(--cor-secundaria);
}

/* MAIN */
/* MAIN */
/* MAIN */

section {
    min-height: 100vh;
    scroll-margin-top: 50px;
}

/* PRINCIPAL */
/* PRINCIPAL */
/* PRINCIPAL */

.principal-container-titulo {
    background-color: var(--cor-azul-clarinho);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 98px 98px;
    margin-bottom: 3em;
}

.principal-paragrafo {
    color: var(--cor-cinza);
    width: 600px;
    font-size: 1.5em;
    font-weight: 700;
    word-spacing: 0.1em;
}

.principal-paragrafo-destaque {
    color: var(--cor-secundaria);
    margin: 0 0.2em;
}

.principal-paragrafo-icon {
    font-size: 0.8em;
    margin: 0 0.2em;
}

.principal-container-sabermais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.principal-sabermais {
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;

}

.principal-sabermais:hover {
    transition: 1s;
    transform: scale(1.01);
    background-color: white;
    border: 1px solid var(--cor-secundaria);
}

.principal-sabermais-link {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    gap: 0.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;

}

.principal-sabermais:hover .principal-sabermais-link {
    color: var(--cor-secundaria);
}

.icon-card-principal {
    background-color: white;
    color: var(--cor-secundaria);
    height: 100%;
    border-radius: 0px 26px 26px 26px;
    padding: 12px;
    margin-left: 0.3em;
}

.principal-sabermais:hover .icon-card-principal{
    background-color: transparent;
}

/* HISTORIA */
/* HISTORIA */
/* HISTORIA */

#historia {
    display: flex;
    flex-direction: column;
}

.historia-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px;
    flex-grow: 1;
}

.historia-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-grow: 1;
}

.historia-titulo {
    color: var(--cor-secundaria);
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-top: 1em;

}

.historia-paragrafo {
    width: 60%;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

#lottie-animation{
    width: 500px;
    height: 500px;
}

/* CONTAINER ESCOLHA */
/* CONTAINER ESCOLHA */
/* CONTAINER ESCOLHA */

#escolha-container {
    scroll-margin-top: 120px;
}

.historia-container-escolha {
    background: linear-gradient(to bottom, #FFFFFF 0%, #ffffff 41%, #0D6EFC 100%);
    padding: 12px;
}

.historia-container-titulo {
    color: var(--cor-cinza);
    margin-bottom: 1.5em;
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.1em;
}

.historia-container-titulo-strong {
    color: var(--cor-azul-claro);
    margin: 0 0.2em;
}

.historia-container-icon {
    padding: 12px;
    margin-left: -0.5em;
}

.historia-container-escolha-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
}

.historia-container-escolha-button {
    padding: 6px;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.23);
    background-color: white;
    color: var(--cor-secundaria);
    font-size: 1.06em;
}

.cor-botao-escolha {
    background-color: var(--cor-secundaria);
    color: white;
}

.historia-card-item {
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.43);
    border-radius: 8px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.historia-card-item:hover {
    transition: 800ms;
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgb(252, 252, 252);
}

.historia-card-header {
    background-color: var(--cor-secundaria);
    color: white;
    display: flex;
    gap: 0.5em;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.historia-card-icon {
    font-size: 1em;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historia-card-titulo {
    font-size: 1em;
    margin: 0;
}

.historia-card-paragrafo {
    padding: 8px;
}

.historia-card-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.historia-card-botao-contato {
    background-color: white;
    border: none;
    border-radius: 26px;
    text-decoration: none;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historia-card-botao-contato:hover {
    transition: 600ms;
    transform: scale(1.03);
    background-color: var(--cor-secundaria);
    cursor: pointer;
}

.historia-card-botao-contato-link {
    color: var(--cor-secundaria);
    text-decoration: none;
    background-color: transparent;
    border: none;
    gap: 0.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
}

.historia-card-botao-contato:hover .historia-card-botao-contato-link {
    color: white;
}

.icon-card-contato {
    background-color: var(--cor-secundaria);
    color: white;
    height: 100%;
    border-radius: 0px 26px 26px 26px;
    padding: 12px;
}
.pulsate-on-hover:hover,
.pulsate-on-hover:focus {
    animation: pulseAnimation 1.5s infinite;
} 

@media (hover: none) {
    .pulsate-on-hover:active, 
    .pulsate-on-hover:focus {
        animation: pulseAnimation 1.5s infinite;
    
    }
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1.01);
    }
}

/* SERVICOS */
/* SERVICOS */
/* SERVICOS */

#servicos {
    background-color: var(--cor-secundaria);
    width: 100%;
    padding-bottom: 1em;
}

.servicos-titulo {
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-top: 2em;
}

.servicos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    background-color: #fff;
    padding: 54px 34px 0px 34px;
    border-radius: 24px;
}

.owl-nav-button {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.owl-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-top: 2em;
    background-color: white;
}

.owl-prev span,.owl-next span{
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 40px;
    padding: 5px 10px 10px 10px; 
    border-radius: 8px;
}

.owl-prev span:hover,.owl-next span:hover{
    transition: 0.3s;
    transform: scale(1.01);
    background-color: transparent;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-item img{
    display: block;
    width: 24%;
}

.img-servicos {
    padding: 0;
    margin: 0;
}

.img-servicos:hover {
    transition: 1s;
    transform: scale(1.01);
}

/* CONTATO */
/* CONTATO */
/* CONTATO */

.contato-titulo {
    color: var(--cor-secundaria);
    padding-top: 2em;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.contato-opcoes {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    padding-top: 3em;
    height: 100%;
}

.contato-redes,
.contato-frase {
    background-color: var(--cor-azul-clarinho);
    padding: 12px;
    border-radius: 24px;
}

.contato-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding-top: 1em;
}

.topico-contato {
    background-color: var(--cor-secundaria);
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.2em;
    border-radius: 24px;
    font-size: 1.5em;
    width: 400px;
    cursor: pointer;
}

.topico-contato:hover {
    transition: 800ms;
    transform: scale(1.01);
    background-color: #14427e;
}

.icon-contato {
    background-color: #fff;
    color: var(--cor-secundaria);
    height: 100%;
    border-radius: 24px 0px 24px 24px;
    padding: 6px;
    margin-right: 1em;
}

.contato-frase {
    display: flex;
    flex-direction: column;
}

.contato-frase-titulo {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.contato-frase-paragrafo {
    width: 80%;
    font-size: 1.5em;
    color: var(--cor-cinza);
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    width: 100%;
    background-color: var(--cor-secundaria);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

footer p {
    margin: 0;
}

/* RESPONSIVIDADE */
/* RESPONSIVIDADE */
/* RESPONSIVIDADE */

@media (max-width: 480px) {
    /* HEADER */

    .header-ul {}

    /* PRINCIPAL */
    .principal-container-titulo {
        height: 500px;
        border-radius: 0px 0px 49px 49px;

    }

    .principal-paragrafo {
        width: 90%;
    }

    .principal-sabermais{
        font-size: 1.2em;
    }

    /* HISTORIA */
    .historia-container {
        flex-direction: column;
    }

    .img-historia {
        display: none;
    }

    .historia-titulo {
        font-size: 1.5em;
        margin-bottom: 1.5em;
    }

    .historia-topicos-card {
        width: 300px;
    }

    /* ESCOLHAS */
    .historia-card-contato {
        width: 900px;
    }

    .historia-card-botao-contato {
        width: 100%;
    }

    /* SERVICOS */
    .servicos-container {
        padding: 0;
    }

    .owl-carousel .owl-item img {
        width: 200%;
    }

    /* CONTATO */
    .contato-opcoes {
        gap: 1em;
    }

    .topico-contato {
        width: 100%;
    }
}

@media (max-width: 980px) {

    /* HEADER */
    .header-hamburguer {
        display: block;
        transition: 1s;
    }

    .header-ul {
        position: fixed;
        transition: 1s ease-out;
        transform: translateX(140%);
        background-color: white;
        border-radius: 0px 0px 4px 4px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 60px;
        gap: 5em;
        padding: 12px;
        pointer-events: none;
    }

    .header-nav.active .header-ul {
        pointer-events: all;
        transform: translateX(0);
    }

    .header-link {
        font-size: 2em;
    }

    .header-link.active .header-ul {
        display: none;
    }

    .header-link-icons {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .header-link-icon {
        width: 48px;
    }

    /* PRINCIPAL */

    .principal-container-titulo {
        margin-bottom: 3em;
    }

    .principal-logo {
        width: 60%;
    }

    /* HISTORIA */

    .historia-subcontainer {
        flex-direction: column;
    }

    .historia-paragrafo {
        width: 100%;
    }

    #lottie-animation{
        width: 250px;
        height: 300px;
    }

    /* ESCOLHA */
    .historia-card-botao-contato {
        width: 100%;
    }

    .historia-card-paragrafo {
        padding: 2px;
    }

    /* SERVICOS */

    .servicos-container {
        padding: 54px 64px 0px 64px;
    }

    .owl-carousel .owl-item img {
        width: 70%;
    }

    /* CONTATO */
    .contato-opcoes {
        margin-top: 4em;
        flex-direction: column;
        padding: 12px 12px 24px 12px;
        gap: 3em;
    }
}

